*{
    background-color: black;
} 
/* css code for signin box*/
.signin{
    border-radius: 20px;
    color: white;
    background-color: black;
    position: absolute;
    left: 400px;
    top: 120px;
    height:490px;
    width: 500px;
    opacity: 0.8;
}
/*netflix background image*/
.background img{
    width: 1253px;
    height: 600px;
    margin: 0%;
}
/*netflix logo*/
.netflix a{
    color: red;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 30px;
    background: none;
    margin-left: 50px;
    text-decoration: none;
}
.netflixlogo .netflix {
    color: red;
    font-weight: 20px;
    font-weight: bold;
}
/* css code for signin credentials*/
.signin>h1{
    font-size: 40px;
    margin-left: 50px;
    margin-top: 50px;
    display: block;
    color: white;
}
.email>p{
    font-size: 23px;
    display: block;
    width: 230px;
    position: relative;
    top: 12px;
    margin-left: 20px;
    background: none;
    color: black;
}
.email{
    border-radius: 10px;
    background-color: white;
    height: 50px;
    width: 360px;
    margin-left: 66px;
    margin-top: 50px;
}
.password>p{
    font-size: 23px;
    display: block;
    width: 230px;
    position: relative;
    top: 12px;
    margin-left: 20px;
    background: none;
    color: black;
}
.password{
    border-radius: 10px;
    background-color: white;
    height: 50px;
    width: 360px;
    margin-left: 66px;
    margin-top: 50px;
    border-color: white;
    border-width: 30px;
    position: relative;
    top: -30px;
}
.signinbutton{
    border-radius: 10px;
    background-color: red;
    height: 50px;
    width: 360px;
    margin-left: 66px;
    margin-top: 50px;
    border-color: white;
    border-width: 30px;
    position: relative;
    top: -54px;
}
.signinbutton>p{
    font-size: 23px;
    display: block;
    color: black;
    width: 230px;
    position: relative;
    top: 12px;
    margin-left: 57px;
    background: none;
    text-align: center;
}
.or{
    display: block;
    width: 29px;
    position: relative;
    left: 230px;
    top: -57px;
    background: none;
}
.or>p{
    font-size: 20px;
    background: none;
}
.useasignincode{
    border-radius: 10px;
    background-color: gray;
    height: 50px;
    width: 360px;
    margin-left: 66px;
    margin-top: 50px;
    border-color: white;
    border-width: 30px;
    position: relative;
    top: -90px;
}
.useasignincode>p{
    font-size: 23px;
    display: block;
    width: 230px;
    position: relative;
    top: 12px;
    margin-left: 57px;
    background: none;
    text-align: center;
}
.forgotpassword{
    display: block;
    width: 115px;
    position: relative;
    left: 190px;
    top: -100px;
    background: none;
}
.forgotpassword>p{
    background: none;
}
/*css code for footer*/
.container>p{
    color: white;
    text-align: center;
    display: block;
    position: absolute;
    left: 495px;
}
.container{
    height: 100px;
}
body{
    max-width: 500px;
}
.container{
    max-width: 500px;
}
@media(max-width:600px)
{
    *{
        background-color: black;
    } 
    /* css code for signin box*/
    .signin{
        border-radius: 20px;
        color: white;
        background-color: black;
        position: absolute;
        left: 400px;
        top: 120px;
        height:490px;
        width: 500px;
        opacity: 0.8;
    }
    /*netflix background image*/
    .background img{
        width: 1253px;
        height: 600px;
        margin: 0%;
    }
    /*netflix logo*/
    .netflix a{
        color: red;
        font-size: 60px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: absolute;
        left: 30px;
        background: none;
        margin-left: 50px;
        text-decoration: none;
    }
    .netflixlogo .netflix {
        color: red;
        font-weight: 20px;
        font-weight: bold;
    }
    /* css code for signin credentials*/
    .signin>h1{
        font-size: 40px;
        margin-left: 50px;
        margin-top: 50px;
        display: block;
        color: white;
    }
    .email>p{
        font-size: 23px;
        display: block;
        width: 230px;
        position: relative;
        top: 12px;
        margin-left: 20px;
        background: none;
        color: black;
    }
    .email{
        border-radius: 10px;
        background-color: white;
        height: 50px;
        width: 360px;
        margin-left: 66px;
        margin-top: 50px;
    }
    .password>p{
        font-size: 23px;
        display: block;
        width: 230px;
        position: relative;
        top: 12px;
        margin-left: 20px;
        background: none;
        color: black;
    }
    .password{
        border-radius: 10px;
        background-color: white;
        height: 50px;
        width: 360px;
        margin-left: 66px;
        margin-top: 50px;
        border-color: white;
        border-width: 30px;
        position: relative;
        top: -30px;
    }
    .signinbutton{
        border-radius: 10px;
        background-color: red;
        height: 50px;
        width: 360px;
        margin-left: 66px;
        margin-top: 50px;
        border-color: white;
        border-width: 30px;
        position: relative;
        top: -54px;
    }
    .signinbutton>p{
        font-size: 23px;
        display: block;
        color: black;
        width: 230px;
        position: relative;
        top: 12px;
        margin-left: 57px;
        background: none;
        text-align: center;
    }
    .or{
        display: block;
        width: 29px;
        position: relative;
        left: 230px;
        top: -57px;
        background: none;
    }
    .or>p{
        font-size: 20px;
        background: none;
    }
    .useasignincode{
        border-radius: 10px;
        background-color: gray;
        height: 50px;
        width: 360px;
        margin-left: 66px;
        margin-top: 50px;
        border-color: white;
        border-width: 30px;
        position: relative;
        top: -90px;
    }
    .useasignincode>p{
        font-size: 23px;
        display: block;
        width: 230px;
        position: relative;
        top: 12px;
        margin-left: 57px;
        background: none;
        text-align: center;
    }
    .forgotpassword{
        display: block;
        width: 115px;
        position: relative;
        left: 190px;
        top: -100px;
        background: none;
    }
    .forgotpassword>p{
        background: none;
    }
    /*css code for footer*/
    .container>p{
        color: white;
        text-align: center;
        margin-top: 30px;
        position: absolute;
        left: 495px;
    }
    body{
        max-width: 500px;
    }
    .container{
        max-width: 500px;
    }
    .container{
        height: 100px;
    }
    body{
        max-width: 500px;
    }
    .container{
        max-width: 500px;
    }
}
